---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Prose from "@components/Prose.astro";
import { event } from "@data/event";
import Content from "@prose/help-us.mdx";
---

<Base
  title={`Help Us Find a Venue | ${event.name}`}
  description={`${event.name} is looking for a venue (or venue sponsor) in Istanbul - here's how you can help.`}
>
  <Header />
  <main class="section-sm text-left pt-32">
    <h1 class="section-heading">Help Us Find a Venue</h1>
    <Prose class="[&_strong]:font-medium">
      <Content />
    </Prose>
  </main>
  <Footer />
</Base>
