---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Prose from "@components/Prose.astro";
import { event } from "@data/event";
import Content from "@prose/privacy-policy.mdx";
---

<Base
  title={`Privacy Policy | ${event.name}`}
  description={`Privacy Policy for ${event.name}.`}
  noindex
>
  <Header />
  <main class="section-sm text-left pt-32">
    <h1 class="section-heading">Privacy Policy</h1>
    <Prose class="[&_strong]:font-medium">
      <Content />
    </Prose>
  </main>
  <Footer />
</Base>
