---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Prose from "@components/Prose.astro";
import { event } from "@data/event";
import Content from "@prose/terms-of-service.mdx";
---

<Base
  title={`Terms of Service | ${event.name}`}
  description={`Terms of Service for ${event.name} tickets and attendance.`}
  noindex
>
  <Header />
  <main class="section-sm text-left pt-32">
    <h1 class="section-heading">Terms of Service</h1>
    <Prose class="[&_strong]:font-medium">
      <div class="text-center mb-8">
        <a href="/terms-of-service-tr/">Türkçe</a>
      </div>
      <Content />
    </Prose>
  </main>
  <Footer />
</Base>
