---
import Wave from "@components/Wave.astro";

const socials = [
  {
    name: "LinkedIn",
    icon: "/socials/linkedin.png",
    href: "https://www.linkedin.com/company/98334563/",
  },
  {
    name: "Mastodon",
    icon: "/socials/mastodon.png",
    href: "https://fosstodon.org/@pythonpizza/",
  },
  {
    name: "X/Twitter",
    icon: "/socials/twitter.png",
    href: "https://twitter.com/pythonpizzaconf/",
  },
];
---

<footer class="bg-primary">
  <Wave invert />
  <div class="flex items-center justify-center gap-8 py-12">
    {socials.map((s) => (
      <a href={s.href} target="_blank" rel="noopener noreferrer" aria-label={s.name}>
        <img src={s.icon} alt={s.name} width="35" height="35" class="brightness-0 invert" />
      </a>
    ))}
  </div>
</footer>
