---
interface Props {
  invert?: boolean;
}
const { invert = false } = Astro.props;
---

<div
  class:list={[
    "w-full overflow-hidden z-2 relative",
    invert ? "-scale-100 -top-0.5" : "mt-auto top-0.5",
  ]}
>
  <img
    src="/icons/wave.svg"
    alt=""
    aria-hidden="true"
    style="display:block; width:300%; max-width:none; animation: wave-animation 30s linear infinite forwards;"
  />
</div>
