---
import AnchorHeading from "@components/AnchorHeading.astro";
import AboutContent from "@prose/about.mdx";
---

<section id="about" class="section-sm text-center">
  <AnchorHeading anchor="about">Python Pizza is Coming to Warsaw!</AnchorHeading>
  <div class="prose-content text-left mx-auto">
    <AboutContent />
  </div>
</section>
