---
import AnchorHeading from "@components/AnchorHeading.astro";
import CfpContent from "@prose/cfp.mdx";
---

<section id="cfp" class="section-sm text-center">
  <AnchorHeading anchor="cfp">Proposals submission is now closed</AnchorHeading>
  <div class="prose-content">
    <CfpContent />
  </div>
</section>
