---
import AnchorHeading from "@components/AnchorHeading.astro";
import CocContent from "@prose/coc.mdx";
---

<section id="coc" class="section-sm text-center">
  <AnchorHeading anchor="coc">Code of Conduct</AnchorHeading>
  <div class="prose-content text-left [&_ul]:list-none [&_ul]:pl-0">
    <CocContent />
  </div>
</section>
