---
import Section from "@components/Section.astro";
import Prose from "@components/Prose.astro";
import VenueContent from "@prose/venue.mdx";
---

<Section id="venue" title="Venue">
  <Prose class="text-left [&_ul]:mt-2 [&_ul]:mb-6">
    <VenueContent />
  </Prose>
</Section>
