---
import "@styles/global.css";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  noindex?: boolean;
}

const { title, description, ogImage, noindex = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="theme-color" content="#ed4337" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto+Mono:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {noindex && <meta name="robots" content="noindex, nofollow" />}
    {ogImage && <meta property="og:image" content={ogImage} />}
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
